<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://bootswatch.com/5/flatly/bootstrap.min.css">
        <link rel="stylesheet" href="{{asset('css/style.css') }}">
        <script src="https://kit.fontawesome.com/aadee783c9.js" crossorigin="anonymous"></script>
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

    </head>
    
    <body>
        {# <------ HEADER ------> #}
        <header>
            <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                <div class="container">
                  <a class="navbar-brand" href="{{ path('app_home') }}">Entreprise</a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
              
                  <div class="collapse navbar-collapse" id="navbarColor01">
                    <ul class="navbar-nav me-auto">
                      <li class="nav-item">
                        <a class="nav-link active" href="{{ path('app_home') }}">Home
                          <span class="visually-hidden">(current)</span>
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/about">A Propos</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_entreprise') }}">Entreprises</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_employe') }}">Employés</a>
                      </li>
                    </ul>
                    {# <form class="d-flex">
                      <input class="form-control me-sm-2" type="text" placeholder="Search">
                      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                    </form> #}
                  </div>
                </div>
              </nav>
        </header>
        {# <------ MAIN ------> #}
        <main class="container">

            {% block body %}{% endblock %}

        </main>
    </body>

        {% block javascripts %}
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>
        {% endblock %}
</html>
